# App
NEXT_PUBLIC_APP_NAME="AI Visibility"

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ai_visibility?schema=public"

# Prisma
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ai_visibility_shadow?schema=public"
